/**
 * -----------------------------------------------------------------------------
 * File: form/checkbox
 * -----------------------------------------------------------------------------
 */

.checkbox-wrapper {
  display: flex;
  align-items: center;


  label {
    margin-bottom: 0;
    margin-top: 4px;
    margin-left: 10px;
  }
}