/**
 * -----------------------------------------------------------------------------
 * File: form/label
 * -----------------------------------------------------------------------------
 */
 
label {
  color: $color-medium-grey;
  display: block;
  @include font-size($fs-sm);
  margin-bottom: 10px;

  &.is-sm {
    @include font-size($fs-xs);
  }

  &.is-narrow {
    margin-bottom: 5px !important;
  }

  &.form-control {
    align-items: center;
    background-color: transparent;
    border: 2px solid $color-grey;
    border-radius: 2px;
    color: $color-grey;
    cursor: pointer;
    display: flex !important;
    @include font-size($fs-xs);
    margin-bottom: 0;
    margin-right: 16px;
    justify-content: center;
    padding: 8px 0;
    text-align: center;
    width: 48px;
    @include transition(background-color .1s ease-out);
  }
}

input[type="radio"]:checked + .form-control,
input[type="checkbox"]:checked + .form-control {
  background-color: $color-dark;
  border: 2px solid $color-dark;
  color: $color-white;
}
