/**
 * -----------------------------------------------------------------------------
 * File: form/validation
 * -----------------------------------------------------------------------------
 */

.is-required {
  color: $color-grey;
  @include font-mono();
  @include font-size($fs-xxs);
  display: block;
  margin-top: 5px;
  text-align: right;
}

.has-error {
  color: $color-danger;
  
  label {
    color: $color-danger;
  }
}