/**
 * -----------------------------------------------------------------------------
 * File: component/buttons/download
 * -----------------------------------------------------------------------------
 *
 */

.btn-download {
  @extend %btn;
  @extend %btn-bg;
  @extend %line;
  background-image: url($url-icons + 'download.svg');
  background-size: 24px auto;
  background-position: bottom right -2px;
  display: block;
  text-decoration: none !important;
  width: 100%;
}