/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
	@extend %btn-ib;
	background-color: $color-dark;
	border-radius: 2px;
	border: none;
	color: $color-white;
	@include font-size($fs-sm);
	@include font-regular();
	padding: 12px 24px;
	width: auto;
	transition: background-color .1s ease-out;

	&:hover {
		background-color: lighten($color-dark, 10);
	}
}