/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
	@extend %btn-ib;
	background-color: $color-primary;
	border-radius: 2px;
	border: none;
	color: $color-white !important;
	@include font-size($fs-sm);
	@include font-regular();
	padding: 12px 24px;
	width: auto;
	transition: background-color .1s ease-out;

	&.is-sm {
		padding: 8px 16px;
	}

	&.has-icon {
		align-items: center;
		display: inline-flex;
		padding-left: 10px;

		span {
			display: block;
			padding-left: 10px;
		}
	}

  :disabled,
	&.is-disabled {
		background-color: $color-medium-grey;
		pointer-events: none;
	}

	&:hover {
		background-color: darken($color-primary, 5);
	}
}