/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/secondary
 * -----------------------------------------------------------------------------
 */

.btn-secondary {
  @extend %btn-primary;
  background-color: $color-grey;
  color: $color-dark;
	&:hover {
		background-color: darken($color-grey, 10);
	}
}