/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/tertiary
 * -----------------------------------------------------------------------------
 */

.btn-tertiary {
  @extend %btn-primary;
  background-color: $color-dark;
  color: $color-white;

	&:hover {
		background-color: lighten($color-dark, 20);
	}

	&.is-sm {
		padding: 8px 16px;
	}

  &.is-tiny {
    @include font-size($fs-sm);
    padding: 6px 9px;
  }

	&.has-icon {
		align-items: center;
		display: inline-flex;

		span {
			display: block;
      padding-left: 6px;
		}
	}
}