/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h1
 * -----------------------------------------------------------------------------
 */

h1 {
  color: $color-primary;
  @include font-serif();
  @include font-size($fs-md);
  @include responsive-prop('margin-bottom', $space-sm);

  strong {
    @include font-serif-bold();
  }

}