/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h1
 * -----------------------------------------------------------------------------
 */

h1 {
  color: $color-primary;
  @include font-regular();
  @include font-size($fs-sm);
  @include responsive-prop('margin-bottom', $space-sm);
}