/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h2
 * -----------------------------------------------------------------------------
 */

h2 {
  @include font-bold();
  @include font-size($fs-xs);
  @include responsive-prop('margin-bottom', $space-xs);
}