/**
 * -----------------------------------------------------------------------------
 * File: components/bubbles/global
 * -----------------------------------------------------------------------------
 */

%bubble,
.bubble {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: $color-white;
  display: inline-block !important;
  @include font-mono();
  @include font-size($fs-xxs);
  line-height: 1 !important;
  padding: 6px 8px 6px 8px;
  position: relative;
  width: auto;

  &.is-info {
    background-color: $color-info;
  }

  strong {
    @include font-mono();
    font-weight: 700;
  }
}

.bubble-danger {
  @extend %bubble;
  background-color: $color-danger;
  margin-left: 15px;
  opacity: 1 !important;
}
