/**
 * -----------------------------------------------------------------------------
 * File: components/bubbles/global
 * -----------------------------------------------------------------------------
 */

%bubble,
.bubble {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: $color-white;
  display: inline-block !important;
  @include font-mono();
  font-size: 10px;
  line-height: 1 !important;
  padding: 6px 8px 6px 8px;
  position: relative;
  width: auto;

  &.is-info {
    background-color: $color-info;
  }

  &.is-restriction {
    background-color: $color-light-grey;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: $color-dark;
    text-transform: uppercase;
    top: -1px;
  }

  strong {
    @include font-mono();
    font-weight: 700;
  }
}

.bubble-danger {
  @extend %bubble;
  background-color: $color-danger;
  margin-left: 10px;
  opacity: 1 !important;
}

.bubble-info {
  @extend %bubble;
  background-color: $color-info;
  margin-left: 10px;
  opacity: 1 !important;
}

.bubble-warning {
  @extend %bubble;
  background-color: $color-yellow;
  margin-left: 10px;
  opacity: 1 !important;
}

.bubble-invoice {
  @extend %bubble;
  font-size: 12px !important;
  padding: 6px;

  &.bubble-invoice__paid {
    background-color: $color-green;
  }

  &.bubble-invoice__deleted {
    background-color: $color-red;
  }

  &.bubble-invoice__0 {
    background-color: $color-blue;
  }
  &.bubble-invoice__1 {
    background-color: $color-yellow;
  }
  &.bubble-invoice__2,
  &.bubble-invoice__3 {
    background-color: $color-red;
  }
}
