/**
 * -----------------------------------------------------------------------------
 * File: admin/vendor/notifications
 * -----------------------------------------------------------------------------
 *
 * Source: https://www.npmjs.com/package/vue-notification
 */

$color-success:   #5cb85c !default;
$color-info:      #5bc0de !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #d9534f !default;

.notification {
  border-radius: 2px;
  padding: 10px;
  margin: 10px 10px 0 0;
  color: #ffffff;
  background: $color-info;
  border-left: 5px solid #187FE7;
  border-left: none !important;

  &.warn {
    background: $color-warning;
    border-left-color: #f48a06;
  }

  &.error {
    background: $color-danger;
    border-left-color: #B82E24;
  }

  &.success {
    background: $color-success;
    border-left-color: #42A85F;
  }

  .notification-title {
    font-weight: bold;
  }
}
