/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:  #000000;
$color-white:  #ffffff;
$color-rose:   #fae1e1;
$color-orange: #ff7a00;

$color-primary: #ff7a00;
