/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:  #000000;
$color-white:  #ffffff;
$color-grey:   #ececec;
$color-yellow: #ffd72c;
