/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-tiny:   3px;
$space-xxs:    5px;
$space-xs:    14px;
$space-sm:    18px;
$space-md:    24px;
$space-lg:    36px;
$space-xl:    48px;
$space-mega:  68px;
$space-ultra: 84px;
$space-giga:  90px;
