/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsive font sizes
$fs-sm: (
  null: (16px,1.23),
  sm:   (16px,1.23),
  md:   (16px,1.23),
  lg:   (16px,1.23)  
);

$fs-md: (
  null: (21px,1.23),
  sm:   (21px,1.23),
  md:   (21px,1.23),
  lg:   (21px,1.23)  
);

$fs-lg: (
  null: (26px,1.2),
  sm:   (26px,1.2),
  md:   (26px,1.2),
  lg:   (26px,1.2)  
);

$fs-xl: (
  null: (40px,1.2),
  sm:   (40px,1.2),
  md:   (40px,1.2),
  lg:   (40px,1.2)  
);

$fs-huge: (
  null: (60px,1.2),
  sm:   (60px,1.2),
  md:   (60px,1.2),
  lg:   (60px,1.2)  
);