/**
 * -----------------------------------------------------------------------------
 * File: views/home
 * -----------------------------------------------------------------------------
 */

.news-article-text p:last-of-type {
  margin-bottom: 0 !important;
}