/**
 * -----------------------------------------------------------------------------
 * File: views/project
 * -----------------------------------------------------------------------------
 */

.content-project {
  border-top: 1px solid $color-black;
  position: relative;

  @include bp-md() {
    padding-bottom: $space-sm;
  }

  h1 {
    @include font-light();
    @include font-size($fs-xl);
  }

  .project-header {
    padding-top: $space-xs;
    @include bp-md() {
      padding-top: $space-lg;
    }
  }

  // grid
  .project-grid {
    margin-top: $space-xs;

    @include bp-md() {
      margin-top: $space-xl;
    }
  }

  // nav info
  .project-info {
    display: none;
    margin-top: $space-sm;

    @include bp-md() {
      display: block;
    }

    ul {
      display: flex;
    }
    
    li {
      margin-right: $space-md;
      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      @extend %anchor-underline;
    }
  }

  // nav browse
  .project-browse {
    display: none;
    position: absolute;
    right: 0;
    top: $space-lg;
    width: 120px;
    
    @include bp-md() {
      display: block;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  // teaser
  .project-teaser {
    margin-bottom: $space-xs;
    margin-top: $space-xxl;

    @include bp-md() {
      display: none;
    }

    a {
      color: $color-black;
      text-decoration: none;
    }

    label {
      border-bottom: 1px solid $color-black;
      display: block;
      padding-bottom: $space-xs;
    }

    h3 {
      @include font-size($fs-xl);
      @include font-light();
      margin: $space-xs 0;
    }
  }

  .project {
    position: relative;
  }

  // description & info
  .project-description {
    margin-top: $space-lg;
    padding-bottom: $space-lg;

    > div {
      margin-top: $space-lg;
    }

    @include bp-md() {
      background-color: $color-white;
      margin-top: 0;
      max-width: calc(50% + #{$space-sm});
      opacity: 0;
      padding-bottom: $space-xl;
      padding-right: $space-xl;
      pointer-events: 0;
      position: absolute;
      transition: opacity .12s ease-in;
      top: 0;
      z-index: -1;

      &.is-visible {
        opacity: 1;
        pointer-events: all;
        z-index: 5;
      }

      > div {
        margin-top: 0;
        margin-bottom: $space-xl;
      }
    }
  }

  .project-description__links {
    
    a {
      @extend %anchor-underline;
    }

    @include bp-md() {
      display: none;
    }
  }

}