/**
 * -----------------------------------------------------------------------------
 * File: views/search
 * -----------------------------------------------------------------------------
 */

.search-results {
  
  .list {
    border-top: 1px solid $color-black;
  }
  h3 {
    margin-bottom: $space-sm;
  }
}