/**
 * -----------------------------------------------------------------------------
 * File: views/works
 * -----------------------------------------------------------------------------
 */

.content-works {
  @extend %content;
  padding-bottom: $space-xs;

  @include bp-md() {
    padding-bottom: $space-xl;
  }

  .work-items  {
    margin-bottom: $space-xxl;
    &.is-last {
      margin-bottom: 0;
    }
  }

  .work-items-list {
    margin-bottom: $space-lg;

    @include bp-md() {
      margin-bottom: $space-xl;
    }

    &.is-last {
      @include bp-md() {
        margin-bottom: 0;
      }
    }
  }

  .work-text-media {
    margin-bottom: $space-sm;
    @include bp-md() {
      margin-bottom: 0;
    }

    figure {
      margin-bottom: $space-xxs;
    }

    a {
      display: inline;
    }
  }

  &.content-works--list {
    h2 {
      margin-bottom: $space-xs;
    }
  }
}