/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */

// Settings
@import 'config/colors';
@import 'config/global';
@import 'config/spaces';
@import 'config/typo';


// Helpers 
@import 'helpers/normalize';
@import 'helpers/flexbox';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/spaces';
@import 'helpers/utilities';


// Typo
@import 'typo/webfonts';
@import 'typo/mixins';
@import 'typo/helpers'; 


// Components
@import 'components/anchors';
@import 'components/blocks';
@import 'components/boxes/global';
@import 'components/buttons/global';
@import 'components/buttons/menu';
@import 'components/collapsible';
@import 'components/icons/global';
@import 'components/headings/global';
@import 'components/headings/h1';
@import 'components/headings/h2';
@import 'components/hr';
@import 'components/logo';
@import 'components/images';
@import 'components/overlay/global';

// Layout
@import 'layout/base';
@import 'layout/main';
@import 'layout/section';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/themes';

// Menu
@import 'menu/global';
@import 'menu/site';

// Views
@import 'views/home';
