/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */

// Settings
@import 'config/colors';
@import 'config/global';
@import 'config/spaces';
@import 'config/typo';


// Helpers 
@import 'helpers/normalize';
@import 'helpers/flexbox';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/spaces';
@import 'helpers/utilities';


// Typo
@import 'typo/webfonts';
@import 'typo/mixins';
@import 'typo/helpers'; 


// Components
@import 'components/anchors';
@import 'components/alerts';
@import 'components/blocks';
@import 'components/boxes/global';
@import 'components/buttons/global';
@import 'components/buttons/menu';
@import 'components/buttons/download';
@import 'components/collapsible';
@import 'components/icons/global';
@import 'components/icons/arrow-right';
@import 'components/icons/cross';
@import 'components/icons/download';
@import 'components/icons/login';
@import 'components/icons/user';
@import 'components/headings/global';
@import 'components/headings/h1';
@import 'components/headings/h2';
@import 'components/headings/h3';
@import 'components/hr';
@import 'components/line';
@import 'components/lists';
@import 'components/loader';
@import 'components/logo';
@import 'components/images';
@import 'components/overlay/global';
@import 'components/quotes';

// Forms
@import 'form/global';
@import 'form/input';
@import 'form/forms';
@import 'form/label';
@import 'form/layout';
@import 'form/placeholder';
@import 'form/select';
@import 'form/validation';

// Layout
@import 'layout/base';
@import 'layout/article';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/main';
@import 'layout/section';
@import 'layout/sidebar';
@import 'layout/themes';

// Menu
@import 'menu/global';
@import 'menu/site';
@import 'menu/meta';

// Views
@import 'views/home';
@import 'views/tutors';
