/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.page-header {
  background-color: $color-light;
  position: relative;
  width: 100%;

  > div {
    @extend %page-block;
    align-items: center;
    display: flex;
    line-height: 1;
    justify-content: space-between;
    @include responsive-prop('height', $header-heights);
  }
}

header.module-header {
  display: flex;
  justify-content: space-between;
  @include responsive-prop('margin-bottom', $space-sm);

  h1 {
    margin-bottom: 0;
  }
}
