/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */
 
$space-bottom: (
  null:  80px,
  sm:    80px,
  md:    120px,
  lg:    120px
);

main.site {
  @include responsive-prop('padding-top', $space-md);
  @include responsive-prop('padding-bottom', $space-bottom);

  > div {
    @extend %page-block;
  }

  a {
    color: $color-primary;
  }
}