/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav {

  li {
    display: block;
  }

  a {
    color: $color-black;
    display: block;
    text-decoration: none;
  }

}