/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/meta
 * -----------------------------------------------------------------------------
 */

nav.meta-menu {
  display: flex;
  height: $space-lg;
  position: absolute;
  right: 0;
  top: 68px;
  z-index: 401;    

  @include bp-sm() {
    align-items: flex-end;
    background-color: transparent;
    justify-content: flex-start;
    left: 75vw;
    padding-left: $space-sm;
    position: fixed;
    top: 0;
    z-index: 501;    
  }

  @include bp-lg() {
    left: auto;
    right: 68px;
    width: calc(25vw - 70px);
  }

  @include bp-xl() {
    padding-left: $space-lg;
  }

  ul {
    display: flex;
  }

  li {
    margin-right: $space-xs;
  }

  a {
    @include font-bold();
    @include font-size($fs-sm);
  }

  
}