/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/meta
 * -----------------------------------------------------------------------------
 */

nav.meta-menu {
  display: none;
  height: $space-lg;
  padding-left: $space-sm;

  @include bp-xl() {
    padding-left: $space-lg;
  }

  ul {
    display: flex;
  }

  li {
    margin-right: $space-xs;
  }

  a {
    @include font-bold();
    @include font-size($fs-sm);
  }

  @include bp-md() {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    z-index: 301;    
  }

  @include bp-lg() {
    width: 25vw;
  }

  
}