/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */

 nav.site-menu {
  background-color: $color-white;
  box-shadow: none;
  min-height: calc(100vh - #{$header-height});
  right: 0;
  overflow: auto;
  pointer-events: none;
  position: fixed;
  transform: translateX(100%);
  transition: transform .16s ease-in;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  &.is-open {
    box-shadow: $box-shadow;
    pointer-events: all;
    transform: translateX(0);
    transition: transform .16s ease-in;
    z-index: 601;
  }

  @include bp-sm() {
    box-shadow: none;
    min-height: 100vh;
    left: 0;
    pointer-events: all;
    right: auto;
    transform: translateX(-100%);
    width: 30vw;
    z-index: 0;

    &.is-open {
      box-shadow: none;
      transform: translateX(-30vw);
      z-index: 0;
    }
  }

  @include bp-md() {
    transform: translateX(0);
    width: 25vw;
    z-index: 0 !important;

    &.is-open {
      transform: translateX(0);
    }
  }

  > div {
    background-color: $color-white;
    margin-top: $space-sm;
    height: calc(100vh - #{$space-mega});
    overflow-x: auto;
    padding: 0 $space-sm;
    
    @include bp-md() {
      margin-top: $space-giga;
      height: calc(100vh - #{$space-giga});
    }
    
    @include bp-xl() {
      padding: 0 $space-lg;
    }

    .site-menu__inner {
      background-color: $color-white;
      position: relative;
      z-index: 10;
    }

  }

  h2 {
    @extend %line;
    border-bottom: 1px solid $color-black;
    @include font-bold();
    margin-bottom: 0 !important;
  }

  ul {
    margin-bottom: $space-sm;
  }

  a {
    @extend %line;
    color: $color-black;
    text-decoration: none;
    transition: color .12s ease-in;

    &:hover {
      color: $color-orange;
    }

    &.is-active {
      color: $color-orange;
      @include font-bold();
    }
  }

  @include bp-sm() {
    h2, a {
      //padding: 0;
    }
  }
}