/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 */

$fs-xxs: (
    null: (10px,1.25),
    sm:   (10px,1.25),
    md:   (12px,1.25),
    lg:   (12px,1.25),
);

$fs-xs: (
    null: (12px,1.25),
    sm:   (12px,1.25),
    md:   (14px,1.25),
    lg:   (14px,1.25),
);

$fs-sm: (
    null: (15px,1.45),
    sm:   (15px,1.45),
    md:   (16px,1.45),
    lg:   (16px,1.45),
);

$fs-md: (
    null: (18px,1.25),
    sm:   (18px,1.25),
    md:   (20px,1.25),
    lg:   (22px,1.25),
);

$fs-lg: (
    null: (24px,1.25),
    sm:   (36px,1.25),
    md:   (28px,1.25),
    lg:   (32px,1.25),
);



