/**
 * -----------------------------------------------------------------------------
 * File: components/icons/feather
 * -----------------------------------------------------------------------------
 */

.feather-icon {
  align-items: center;
  color: $color-dark !important;
  display: flex;
  @include font-regular();
  @include font-size($fs-sm);
  line-height: 1 !important;
  text-decoration: none;
  position: relative;

  svg {
    position: relative;
  }

  em {
    align-items: center;
    background-color: $color-info;
    border-radius: 50%;
    color: $color-white !important;
    @include font-mono();
    font-size: 9px;
    line-height: 1 !important;
    height: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 15px;
    z-index: 101;
  }

  &.feather-icon--prepend span {
    padding-left: 3px;
  }

  &.feather-icon--append span {
    padding-right: 5px;
  }

  &.is-disabled {
    color: $color-light-grey !important;
    pointer-events: none;
  }

  &.is-highlight {
    color: $color-primary !important;
  }

  &:hover {
    * {
      color: $color-medium-grey;
      transition: color .1s ease-out;
    }
  }
}
