/**
 * -----------------------------------------------------------------------------
 * File: components/icons/logout
 * -----------------------------------------------------------------------------
 */

.icon-logout {
  @extend %icon-dashboard;
  background-image: url($url-icons + 'logout.svg');
  background-size: 18px 18px;
  background-position: center left;
  @include responsive-prop('bottom', $space-md);
  color: $color-medium-grey;
  @include font-size($fs-xs);
  height: 20px;
  @include responsive-prop('left', $space-md);
  padding-left: 22px;
  padding-top: 2px;
  position: absolute;
  width: auto;

  &:hover {
    color: $color-white;
  }
}