/**
 * -----------------------------------------------------------------------------
 * File: components/icons/menu
 * -----------------------------------------------------------------------------
 */

.icon-menu {
  @extend %icon-dashboard;
  background-image: url($url-icons + 'menu.svg');
}