/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
/* Box shadows
 * -------------------- */
/* Default easing
 * -------------------- */
/* Urls
 * -------------------- */
/* Breakpoints
 * -------------------- */
/* Header
 * -------------------- */
/* Header
 * -------------------- */
/* Grids
 * -------------------- */
/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: helper/normalize
 * -----------------------------------------------------------------------------
 * 
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 *
 */
/**
 * Set box-sizing to "border-box" for all elements
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  vertical-align: middle;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  background-color: transparent;
  box-sizing: content-box;
  display: block;
  margin: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

th {
  font-weight: normal;
}

/* Input placeholders
   ========================================================================== */
::-webkit-input-placeholder {
  color: #000000;
}

/* FF 18- */
:-moz-placeholder {
  color: #000000;
}

/* FF 19+ */
::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

/* Reset headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

/* Reset definition lists
   ========================================================================== */
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

/* Reset anchors
   ========================================================================== */
a,
a:hover,
a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Reset nav elements
   ========================================================================== */
nav ol,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

/* Set text selection to lightgrey
   ========================================================================== */
::-moz-selection {
  background: #eee;
  text-shadow: none;
}

::selection {
  background: #eee;
  text-shadow: none;
}

/* Remove italic style
   ========================================================================== */
i,
em,
address {
  font-style: normal;
}

/* Add font weight bold
   ========================================================================== */
b, strong {
  font-weight: bold;
}

/* Remove margins for paragraphs
   ========================================================================== */
p {
  margin: 0;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/flexbox
 * -----------------------------------------------------------------------------
 *
 * Alignment using flexbox
 *
 */
.v-center {
  display: flex !important;
  align-items: center;
}

.h-center {
  display: flex !important;
  justify-content: center;
}

.h-start {
  display: flex !important;
  justify-content: flex-start;
}

.h-end {
  display: flex !important;
  justify-content: flex-end;
}

/**
 * -----------------------------------------------------------------------------
 * File: helper/functions
 * -----------------------------------------------------------------------------
 */
/**
 * Get value from map
 * -----------------------------------------------------------------------------
 * 
 * Usage: get($map, $key);
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: helper/mixins
 * -----------------------------------------------------------------------------
 */
/**
 * Scrollbars
 * -----------------------------------------------------------------------------
 */
/**
 * Vertical align
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      element {
 *          @include vertical-align($position);
 *      }
 *
 */
/**
 * Cross browser opacity
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include opacity(1,100);
 *      }
 *
 */
/**
 * Set box shadow
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      div {
 *          @include box-shadow(values);
 *      }
 *
 */
/**
 * Grayscale an image
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include filter-grayscale(value);
 *      }
 *
 */
/**
 * Background defaults
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Background cover
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Browser Prefixes
 * -----------------------------------------------------------------------------
 *
 */
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

/**
 * Visually hide an element
 * -----------------------------------------------------------------------------
 * This placeholder selector will visually hide an element while
 * still make it accessible for screenreaders.
 * 
 * Usage:
 *
 *      p {
 *          @extend %visually-hidden;
 *      }
 *
 */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Clearfix
 * -----------------------------------------------------------------------------
 * A solid clearfix by Nicolas Gallagher.
 * Source: (http://nicolasgallagher.com/micro-clearfix-hack/)
 * 
 * Usage:
 *
 *      p {
 *          @extend %clearfix;
 *      }
 *
 */
.clearfix,
.cf {
  *zoom: 1;
}
.clearfix:before,
.cf:before {
  content: " ";
  display: table;
}
.clearfix:after,
.cf:after {
  content: " ";
  display: table;
  clear: both;
}

/**
 * Media Queries
 * -----------------------------------------------------------------------------
 * A simple mixin for using media queries. Change the values to
 * fit your sites needs.
 * 
 * Usage:
 *
 *      header {
 *          @include bp-small() {
 *              display: none;
 *          }
 *          @include bp-huge() {
 *              display: block;
 *          }
 *      }
 */
/**
 * Set the width/height of an element
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      p {
 *          @include width-height($sizes);
 *      }
 *
 */
/**
 * Set a single (responsive) property
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      p {
 *          @include responsive-prop('prop', $value, '!important');
 *      }
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/spaces
 * -----------------------------------------------------------------------------
 *
 * Helpers for vertical spacing
 *
 */
.sa-none {
  margin-bottom: 0 !important;
}

.sa-sm {
  margin-bottom: 18px;
}

.sa-md {
  margin-bottom: 36px;
}

.sa-lg {
  margin-bottom: 25px;
}

.sb-none {
  margin-top: 0 !important;
}

.sb-sm {
  margin-top: 18px;
}

.sb-md {
  margin-top: 36px;
}

.sb-lg {
  margin-top: 25px;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */
.hide-sm {
  display: none;
}
@media only screen and (min-width: 1100px) {
  .hide-sm {
    display: block;
  }
}

.hide-md {
  display: block;
}
@media only screen and (min-width: 1100px) {
  .hide-md {
    display: none;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/mixins
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Font smoothing
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Font: regular
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Font: bold
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Font: italic
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Font: serif
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Font: serif bold
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Define the font size
 * -----------------------------------------------------------------------------
 * 
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */
.uc {
  text-transform: uppercase;
}

.lc {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.nobr {
  white-space: nowrap;
}

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */
strong, b {
  font-weight: normal;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}

p:last-of-type {
  margin-bottom: 0 !important;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */
.anchor {
  text-decoration: none;
}
.anchor:hover {
  text-decoration: underline;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */
.inner-block {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1440px;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/boxes/global
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/global
 * -----------------------------------------------------------------------------
 */
.collapsible .btn-collapsible,
.btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  display: block;
  line-height: 1;
  outline: none !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #ffffff;
  transition: background-color 0.1s ease-out 0.2s ease-in-out;
}

/**
 * -----------------------------------------------------------------------------
 * File: buttons/menu
 * -----------------------------------------------------------------------------
 */
.btn-menu-show,
.btn-menu-hide {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  background-size: contain;
  background-position: center center;
  border-bottom: none;
  display: block;
  text-decoration: none;
  height: 20px;
  width: 30px;
}

.btn-menu-show {
  background-image: url("../img/icons/burger.svg");
}

.btn-menu-hide {
  background-image: url("../img/icons/cross.svg");
}

/**
 * Collapsibles
 * -----------------------------------------------------------------------------
 */
.collapsible {
  width: 100%;
}
.collapsible .btn-collapsible {
  display: block;
  padding: 10px 50px 10px 0;
  text-decoration: none !important;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .collapsible .btn-collapsible {
    background-position: top 16px left;
    padding: 10px 0 10px 50px;
  }
}

.collapsible__content {
  overflow: hidden;
}
.collapsible__content > div {
  opacity: 0;
  transition: opacity 0.24s ease-in-out;
}

.collapsible.is-expanded .collapsible__content > div {
  opacity: 1;
  transition: opacity 0.24s ease-in-out;
}
/**
 * -----------------------------------------------------------------------------
 * File: components/icons/global
 * -----------------------------------------------------------------------------
 */
.icons {
  display: block;
  width: 100%;
}

.icons-center {
  margin-left: auto;
  margin-right: auto;
}

.icons-spread {
  text-align: center;
}
.icons-spread [class*=icon]:not(:last-child) {
  margin-right: 5px;
}

@supports (display: flex) {
  .icons-spread {
    display: flex;
    justify-content: space-between;
  }
  .icons-spread .icon {
    margin-right: 0 !important;
  }
}
/**
 * -----------------------------------------------------------------------------
 * Generic icon classes
 * -----------------------------------------------------------------------------
 */
.icon {
  display: block;
}

.icon-ib {
  display: inline-block;
}

.icon-bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  background-size: 100%;
}

.icon-round {
  border-radius: 50%;
}

.icon-over {
  left: 0;
  position: absolute;
  top: 0;
}

.icon-img img,
.icon-img svg {
  display: block;
  height: auto;
  width: 100%;
}

.icon-rotate {
  transition: transform 0.16s ease-out;
}
.icon-rotate:hover {
  transform: rotate(20degdeg);
}

.icon-fade {
  opacity: 1;
  transition: opacity 0.12s ease-out;
}
.icon-fade:hover {
  opacity: 0.6;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/headings/global
 * -----------------------------------------------------------------------------
 */
h1, h2, h3 {
  margin: 0;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h2
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/hr
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */
.logo {
  display: block;
  height: 25px;
  width: 75px;
}
.logo img, .logo svg {
  display: block;
  height: auto;
  width: 100%;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */
.is-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/overlay/global
 * -----------------------------------------------------------------------------
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */
html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

body {
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.23;
  position: relative;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 21px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 21px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 21px;
    line-height: 1.23;
  }
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #ccc;
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */
main.site {
  min-height: 100vh;
  padding-top: 50px;
}
@media only screen and (min-width: 1100px) {
  main.site {
    padding-top: 0;
    position: relative;
    transform: translateX(25vw);
    width: calc(100% - 25vw);
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */
section {
  min-height: 100vh;
  padding: 0 18px;
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 *
 */
@media only screen and (min-width: 1100px) {
  .grid-1-2,
.grid {
    display: grid;
  }
}

.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */
header.site-header {
  background-color: #ffffff;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.4);
  height: 50px;
  left: 0;
  padding: 0 18px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
header.site-header > div {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
}
@media only screen and (min-width: 1100px) {
  header.site-header {
    display: none;
  }
}

header.site-menu__header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 18px;
}
@media only screen and (min-width: 1100px) {
  header.site-menu__header {
    display: none;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/footer
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/themes
 * -----------------------------------------------------------------------------
 */
.theme-rose {
  background-color: #fae1e1;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.4);
}

.theme-orange {
  background-color: #ff7a00;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.4);
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */
nav h2 {
  border-bottom: 1px solid #000000;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  line-height: 1.52 !important;
  padding-bottom: 2px;
}
nav ul {
  margin-bottom: 18px;
}
nav li {
  display: block;
}
nav a {
  border-bottom: 1px solid #000000;
  color: #000000;
  display: block;
  line-height: 1.52 !important;
  padding: 2px 0;
  text-decoration: none;
  transition: color 0.12s ease-in;
}
nav a:hover {
  color: #ff7a00;
}
nav a.is-active {
  color: #ff7a00;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  nav h2, nav a {
    padding: 0;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */
nav.site-menu {
  background-color: #ffffff;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.4);
  height: calc(100vh - 50px);
  right: 0;
  overflow: auto;
  pointer-events: none;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.16s ease-in;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
nav.site-menu.is-open {
  pointer-events: all;
  transform: translateX(0);
  transition: transform 0.16s ease-in;
  z-index: 201;
}
@media only screen and (min-width: 1100px) {
  nav.site-menu {
    box-shadow: none;
    height: 100vh;
    left: 0;
    pointer-events: all;
    right: auto;
    transform: translateX(0);
    transition: transform 0.16s ease-in;
    width: 25vw;
    z-index: 0;
  }
}
nav.site-menu > div {
  padding: 0 18px;
  margin-top: 18px;
}
@media only screen and (min-width: 1100px) {
  nav.site-menu > div {
    padding: 0 36px;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: views/home
 * -----------------------------------------------------------------------------
 */