/**
 * -----------------------------------------------------------------------------
 * File: modules/global
 * -----------------------------------------------------------------------------
 */

.no-records {
  @include font-italic();
}