/**
 * -----------------------------------------------------------------------------
 * File: modules/global
 * -----------------------------------------------------------------------------
 */

.no-records {
  color: $color-primary;
  @include font-italic();
}