/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 *
 */


%grid,
.grid {
  @include bp-md() {
    display: grid;
  }
}

.grid-1-2 {
  @extend %grid;
  grid-template-columns: 1fr 2fr;
}