/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-white;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .4);
  height: $header-height;
  left: 0;
  padding: 0 $space-sm;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;

  > div {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
  }

  @include bp-sm() {
    display: none;
  }
}

header.site-menu__header {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: flex-end;
  padding: 0 $space-sm;

  @include bp-md() {
    display: none;
  }
}

header.content-header {
  @include bp-md() {
    align-items: flex-end;
    display: flex;
    height: $space-lg;
    left: $space-sm;
    position: absolute;
    top: 0;
  }

  @include bp-xl() {
    left: $space-lg;
  }
}