/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  min-height: 100vh;
  padding-top: $header-height;

  @include bp-md() {
    padding-top: 0;
    position: relative;
    transform: translateX(25vw);
    width: calc(100% - 25vw);
  }
}