/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

section {
  min-height: calc(100vh - 100px);
  padding: $space-sm $space-sm $space-lg $space-sm;
  position: relative;

  @include bp-sm() {
    min-height: 100vh;
    padding-top: $space-mega;
  }

  @include bp-md() {
    min-height: 100vh;
    padding-top: $space-giga;
  }

  @include bp-lg() {
    padding: $space-giga $space-sm $space-lg $space-sm;
  }

  @include bp-xl() {
    padding: $space-giga $space-lg $space-lg $space-lg;
  }

  a {
    color: $color-black;
    &:hover {
      text-decoration: underline;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    display: list-item;
    list-style-type: none;
  }

  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: $space-md;
    padding-left: 1.2em;
  }

  li {
    list-style-type: none;
  }

  ul > li:before {
    display: inline-block;
    content: "\2014";
    width: 1.2em;
    margin-left: -1.2em;
  }
}

/* Splash screen */
section.splash {
  
  &.splash--anniversary {
    @include background-default();
    background-image: url($url-images + 'logo-sipt-anniversary.svg');
    background-size: 300px 259px;
    background-position: left bottom;
  
    @include bp-sm() {
      background-size: 400px 345px;
    }
  
    @include bp-md() {
      background-size: 500px 431px;
    }
  }

  .splash__title {
    color: $color-white;
    @include font-serif-bold();
    @include font-size($fs-huge);
    max-width: 480px;
  
    @include bp-md() {
      max-width: 640px;
    }
  }
  
}

section.visual {
  position: relative;

  .visual__container {
    display: block;
    position: absolute;
    top: 100vh;
    transform: translateY(-100%);

    &.is-right {
      right: 0;
    }

    &.has-max-w {
      @include bp-md() {
        max-width: 70%;
      }
      }

    img {
      @extend %is-responsive;
    }
  }
}

