/**
 * -----------------------------------------------------------------------------
 * File: layout/sections
 * -----------------------------------------------------------------------------
 */

%content {

  .content-visual {
    margin-bottom: $space-xs;
    @include bp-md() {
      margin-bottom: 0;
    }
  }

  a {
    @extend %anchor-underline;
    color: $color-black;
  }
  
}
