/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

section {
  min-height: 100vh;
  padding: 0 $space-sm;
}