/**
 * -----------------------------------------------------------------------------
 * File: layout/themes
 * -----------------------------------------------------------------------------
 */

.theme-rose {
  background-color: $color-rose;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .4);
}

.theme-orange {
  background-color: $color-orange;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .4);
}