/**
 * -----------------------------------------------------------------------------
 * File: layout/themes
 * -----------------------------------------------------------------------------
 */

.theme {
  background-color: $color-white;
}

.theme-light {
  background-color: $color-rose;
}

.theme-medium {
  background-color: $color-orange;
}