/**
 * -----------------------------------------------------------------------------
 * File: layout/themes
 * -----------------------------------------------------------------------------
 */

.theme {
  background-color: $color-white;
  box-shadow: $box-shadow;
}

.theme-light {
  background-color: $color-rose;
  box-shadow: $box-shadow;
}

.theme-medium {
  background-color: $color-orange;
  box-shadow: $box-shadow-dark;
}