/**
 * -----------------------------------------------------------------------------
 * File: component/lists/global
 * -----------------------------------------------------------------------------
 *
 */

.listing {
  border-bottom: 2px solid $color-light;
  @include responsive-prop('margin-bottom', $space-xs);

  &.is-grouped {
    border-bottom: none;
  }
}

.listing-group {
  border-bottom: 2px solid $color-light;
  @include responsive-prop('margin-bottom', $space-md);
}

.listing__item {
  border-top: 2px solid $color-light;
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 2px;
  padding-right: 2px;
  @include responsive-prop('padding-top', $space-xs);
  @include responsive-prop('padding-bottom', $space-xs);


  &:hover {
    background-color: $color-light;
  }

  &.is-disabled {
    * {
      opacity: .7;
    }
  }

  &.is-draggable {
    cursor: move;
    margin-bottom: 0 !important;
    @include responsive-prop('padding-bottom', $space-xs);
  }

  &.is-narrow {
    @include responsive-prop('padding-top', $space-xxs);
    @include responsive-prop('padding-bottom', $space-xxs);   
  }
}

.listing__item-body {
  align-items: center;
  display: flex;
  @include responsive-prop('padding-right', $space-sm);

  .item-tag {
    background-color: $color-light-grey;
    border-radius: 2px;
    color: $color-dark;
    display: inline-block;
    @include font-mono();
    @include font-size($fs-xxs);
    line-height: 1 !important;
    padding: 5px;
    width: auto;
  }

  .item-date {
    @include font-size($fs-xs);
  }

  .separator {
    @include font-size($fs-sm);
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.listing__item-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 28px;
  }
}
