/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */

h1 {
  color: $color-orange;
  @include font-size($fs-sm);
  @include font-bold();
  margin-bottom: $space-md;

  @include bp-md() {
    margin-bottom: 0;
  }
}