/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h3
 * -----------------------------------------------------------------------------
 */

h3 {
  @include font-bold();
  // @include font-size($fs-sm);
  margin-bottom: $space-xxs;
}