/**
 * -----------------------------------------------------------------------------
 * File: form/forms
 * -----------------------------------------------------------------------------
 */

form {
  max-width: 480px;
}

// Registration form
form.registration {
  margin-top: $space-sm;
  position: relative;

}

// Login form
form.auth {
  margin-top: $space-md;
  
  input[type=text],
  input[type=email],
  input[type=password] {
    background-color: $color-white;
  }
}

// Search
form.search {
  margin-top: $space-md;
  margin-bottom: $space-lg;
  max-width: none;

  input[type=text] {
    background-color: $color-white;
  }

  > div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: $space-sm;
  }
}

// Register form
form.auth--register {
  max-width: 640px !important;
  .form-group {
    label {
      @include bp-xl() {
        flex: 0 0 235px;
      }
    }
  }
}

// Sidebar form
form.form-sidebar {
  .form-group {
    label {
      @include bp-xl() {
        flex: 0 0 165px;
      }
    }
  }
}

// Recover password
form.auth--recover {
  .form-group {
    label {
      @include bp-xl() {
        flex: 0 0 125px;
      }
    }
  }
}

// Reset password form
form.auth--reset {
  .form-group {
    label {
      @include bp-xl() {
        flex: 0 0 215px;
      }
    }
  }
}

form.booking {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-sm;
  max-width: none;
  
  @include bp-xl() {
    margin-top: $space-md;
  }
}
