/**
 * -----------------------------------------------------------------------------
 * File: form/global
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select,
button {
	background-color: $color-grey;
	border-radius: 0;
	border: none;
	color: $color-black;
	display: block;
	@include font-regular();
	@include font-size($fs-sm);
	padding: 8px;
	position: relative;
	outline: none !important;
	width: 100%;
	z-index: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color-white;
}
 
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select {
	transition: background-color .12s ease-out;
}
 
textarea {
	height: 150px;
}
 
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
 
select::-ms-expand {
	display: none;
}
 
input[type=submit],
button {
	background-color: $color-orange;
	border-radius: 0;
	color: $color-white;
	display: block;
	transition: background-color .1s ease-out;
	width: auto;

	&:hover {
		background-color: $color-black;
	}
}