/**
 * -----------------------------------------------------------------------------
 * File: form/layout
 * -----------------------------------------------------------------------------
 */

// Input
.form-group {
	align-items: center;
	display: block;
	margin-bottom: $space-xs;
	position: relative;

	@include bp-xl() {
		display: flex;
	}

	label {
		margin-bottom: $space-xxs;
		@include bp-xl() {
			flex: 0 0 165px;
			margin-bottom: 0;
		}
	}
}

// Radio/Checkboxes
.form-group-radio,
.form-group-checkbox {
	display: flex;
	margin-bottom: $space-sm;
	position: relative;

	> div {
		flex: 0 0 35px;
		padding-top: 3px;
	}

	input[type=radio], 
	input[type=checkbox] {
		height: 20px;
		width: 20px;
		opacity: 0;
		position: absolute;
		padding: 10px;
		left: 0;
		top: 3px;
		z-index: 1;
	}

	input[type=radio]:checked + .radio span, 
	input[type=checkbox]:checked + .checkbox span {
		background-color: $color-black;
	}

	.checkbox {
		border: 1px solid $color-black;
    height: 20px;
    position: relative;
		width: 20px;
		
		span {
			height: 14px;
			left: 2px;
			top: 2px;
			position: absolute;
			width: 14px;
		}
	}

	label {
    user-select: none;
		a {
			color: $color-orange;
			&:hover {
				color: $color-black;
				text-decoration: none;
			}
		}
	}

}

// Buttons
.form-buttons {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: $space-md;

	&.align-justify {
		justify-content: space-between;
	}

	&.align-start {
		justify-content: flex-start;
	}

	&.align-end {
		justify-content: flex-end;
	}
}

// Helpers
.form-helper {
	@include font-size($fs-sm);
}
