/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */

.uc { text-transform: uppercase;}
.lc { text-transform: lowercase; }
.cap { text-transform: capitalize; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.nobr { white-space: nowrap; }

.highlight {
	color: $color-orange;
}

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */

strong, b {
	font-weight: normal;
	@include font-bold();
}

em, i {
  font-style: italic;
}

p {
	margin-bottom: $space-md;
	
	// &:last-of-type {
	// 	margin-bottom: 0 !important;
	// }
}

.small,
small {
	@include font-size($fs-sm);
}