/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%anchor,
.anchor {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
