/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

%inner-block,
.inner-block {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: $site-max-width;
}
