/**
 * Collapsibles
 * -----------------------------------------------------------------------------
 */

.collapsible {
  width: 100%;

  .btn-collapsible {
    @extend %btn;
    @extend %btn-bg;
    background-image: url($url-icons + 'arrow-down.svg');
    background-size: 24px auto;
    background-position: top right -4px;
    display: block;
    text-decoration: none !important;
    width: 100%;
  }
}

.collapsible__content {
  overflow: hidden;

  > div {
    opacity: 0;
    transition: opacity .24s ease-in-out;
  }
}

.collapsible.is-expanded {
  
  .collapsible__content {
    > div {
      opacity: 1;
      transition: opacity .24s ease-in-out;
    }
  }

  .btn-collapsible {
    background-image: url($url-icons + 'arrow-up.svg');
  }
}