/**
 * -----------------------------------------------------------------------------
 * File: components/lists
 * -----------------------------------------------------------------------------
 */

.list {
  margin-top: 0;
  
  .list__header,
  .list__item {
    @extend %line;
  }

  .list__header {
    @extend %flex-space-between;
  }

  .list__item {
    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        color: $color-orange;
      }
    }
  }

  .list__item--button {
    @include font-size($fs-sm);
    text-align: right;

    a {
      color: $color-dark-grey;
    }
  }
}

.list.list--event + .list.list--event {
  margin-top: $space-lg;
}

.list.list--booking + .list.list--booking {
  margin-top: $space-lg;
}
