/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  display: block;
  height: 25px;
  width: 75px;
  
  img, svg {
    display: block;
    height: auto;
    width: 100%;
  }
}