/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo-sm {
  display: block;
  height: 25px;
  width: 75px;
  
  img, svg {
    display: block;
    height: auto;
    width: 100%;
  }
}

a.logo {
  border: none !important;
  display: none;
  padding: 0;
  
  @include bp-sm() {
    bottom: $space-sm;
    display: block;
    left: $space-sm;
    max-width: 160px;
    position: absolute;
    z-index: 5;
  }

  @include bp-md() {
    max-width: 180px;
  }

  @include bp-lg() {
    bottom: $space-lg;
    left: $space-lg;
    max-width: 230px;
  }

  img, svg {
    display: block;
    height: auto;
    width: 100%;
  }
}