/**
 * -----------------------------------------------------------------------------
 * File: components/quotes
 * -----------------------------------------------------------------------------
 */

.quote {
  @extend %word-break;
  color: $color-white;
  @include font-serif-bold();
  @include font-size($fs-xl);

  @include bp-sm() {
    bottom: $space-sm;
    padding-right: $space-sm;
    position: fixed;
  }

  @include bp-xl() {
    bottom: $space-lg;
    padding-right: $space-lg;
  }

  &.is-sm {
    @include font-size($fs-lg);
  }

  .quote__author {
    color: $color-black;
    @include font-serif();
    @include font-size($fs-md);
    margin-top: $space-sm;
  }
}