/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  img {
    display: block;
    height: auto;
    max-width: 120px;
    width: 100%;
  }
}