/**
 * -----------------------------------------------------------------------------
 * File: component/flexbox
 * -----------------------------------------------------------------------------
 *
 */

%v-center,
.v-center {
  display: flex !important;
  align-items: center;
}

%h-center,
.h-center {
  display: flex !important;
  justify-content: center;
}

%h-start,
.h-start {
  display: flex !important;
  justify-content: flex-start;
}

%h-end,
.h-end {
  display: flex !important;
  justify-content: flex-end;
}

.flex {
  display: flex !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.items-center {
  align-items: center !important;
}

.items-start {
  align-items: flex-start !important;
}

.items-end {
  align-items: flex-end !important;
}

.flex-sb {
  display: flex;
  justify-content: space-between !important;
}

.flex-fe {
  display: flex;
  justify-content: flex-end;
}

.flex-vc {
  display: flex;
  align-items: center !important;
}


