/**
 * -----------------------------------------------------------------------------
 * File: components/icons/arrow-right
 * -----------------------------------------------------------------------------
 */

.icon-arrow-right {
  @extend %icon-ib;
  @extend %icon-bg;
  align-items: center;
  background-image: url($url-icons + 'arrow-right.svg');
  background-size: 20px auto;
  background-position: bottom left;
  color: $color-black;
  @include font-size($fs-sm);
  padding-left: 24px;
  text-decoration: none;
}