/**
 * -----------------------------------------------------------------------------
 * File: components/icons/arrow-up
 * -----------------------------------------------------------------------------
 */

.icon-arrow-up {
  @extend %icon-ib;
  margin-left: 15px;
  position: relative;

  @include bp-md() {
    margin-left: 20px;
  }

  &:before {
    background-image: url($url-images + 'arrow-up.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 9px;
    left: -15px;
    position: absolute;
    top: 6px;
    width: 9px;

    @include bp-md() {
      top: 8px;
      height: 12px;
      left: -20px;
      width: 12px;
    }
  }
}