/**
 * -----------------------------------------------------------------------------
 * File: components/upload/listing
 * -----------------------------------------------------------------------------
 */

.upload-listing {
  background-color: transparent;
  
  > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
  }

  &.is-files {

    > div {
      display: block;
    }
  }

  .upload-item {
    border: 2px solid $color-light-grey;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    min-height: 100px;
    width: 100%;

    img {
      background-color: $color-white;
      display: block;
      height: auto;
      padding: 10px;
      opacity: 1;
      width: 100%;
      transition: opacity .12s ease-out;
    }

    &.is-disabled {
      img {
        opacity: 0.6;
      }
    }

    .upload__preview {
      display: block;
      text-decoration: none;
      position: relative;
      width: 100%;

      .image-label {
        background-color: rgba(0,0,0,.7);
        @include font-mono();
        @include font-size($fs-xxs);
        color: $color-green;
        left: 10px;
        padding: 5px;
        bottom: 10px;
        position: absolute;
        width: calc(100% - 20px);
      }
    }

    .upload__actions {
      background-color: $color-white;
      line-height: 1;
      padding: 5px 10px 10px 10px;
      text-align: right;
    
      > div {
        display: flex;
        justify-content: flex-start;
      }

      > div > div {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 28px;
      }
    }
  }

  .upload-item-file {
    align-items: center;
    border-top: 2px solid $color-light-grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
    width: 100%;

    &:last-child {
      border-bottom: 2px solid $color-light-grey;
    }

    input[type=text] {
      max-width: 300px;
    }

    .upload__actions {
      background-color: $color-white;
      line-height: 1;
      text-align: right;
    
      > div {
        display: flex;
        justify-content: flex-end;
      }

      > div > div {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 28px;
      }
    }
  }
}