/**
 * -----------------------------------------------------------------------------
 * File: components/upload/overlay
 * -----------------------------------------------------------------------------
 */

.upload-overlay-edit {
  @extend %overlay;

  > div {
    @extend %page-block;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 35px;
    padding-top: 60px;
    position: relative;
  }

  figure {
    border: 2px solid $color-light-grey;
    display: block;
    width: 100%;

    figcaption {
      padding: 0 10px 10px 10px;
      span {
        display: block;
      }
    }

    img {
      background-color: $color-white;
      display: block;
      height: auto;
      padding: 10px !important;
      width: 100% !important;
    }
  }
}

.upload-overlay-cropper {
  @extend %overlay;
  
  img {
    background-color: $color-white;
    padding: 0 !important;
  }

  .form-buttons {
    padding-top: 40px;
    text-align: left;

    .btn-secondary {
      @extend %btn-loading;
    }

    a:not(.btn-secondary) {
      margin-left: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grid-overlay {
  @extend %overlay;
}